@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#canvas {
    background-color: rgba(19, 73, 89, 0.7);
    /* height: 500pxnnnnnnnnnnnnnnnnnn;
    width: 500px; */
}

.gameHeader {
    font-family: "Sedgwick Ave", cursive;
    color: white;
    font-size: 40px;
}