body {
  margin: 0;
  padding: 0;
}


/* STYLE SCROLLBAR */
::-webkit-scrollbar {
  background: #000;
  width: 0.7em;
}

::-webkit-scrollbar-track {
  background: #FFF;
  border-radius: 100vw;
  margin-block: 20em;
  margin-left: 10em;
}

::-webkit-scrollbar-thumb {
  background: #F00;
  border: 0.25em solid #F00;
  /* height: 1em!important; */
  border-radius: 100vw;

}
